h5.stationHeader {
    padding: 1.52rem 0 .912rem 0;
    margin: 0;
    display: inline-block;
}

h5.stationHeader span {
    margin: 0 10px;
}

.back-button {
    color: inherit !important;
}

.station-pane, .dish-pane {
    display: none;
    position: absolute;
    width: 100%;
    top: 0;
}

.ingredient-title div {
    padding-bottom: 0.656rem !important;
}

.ingredient-title div h5 {
    margin-bottom: 0;
}

i.left {
    margin-right: 10px;
}

.ingredient-show-more {
    color: #343434;
    text-decoration: none;
    text-align: center;
    letter-spacing: .5px;
    font-size: 14px;
    outline: 0;
    height: 36px;
    line-height: 36px;
    padding: 16px 16px 0 16px;
    text-transform: uppercase;
}