<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PrefChefs</title>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/js/index.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script>
        $(document).ready(function() {
            $('.tabs').tabs();
        });
    </script>
</head>

<body th:with="content=~{::content}">
<div th:fragment="content">
    <div class="row">
        <div class="col s12 m6">
            <div class="card grey lighten-4">
                <div class="">
                    <!--<span class="card-title">Please Login</span>-->
                    <div>
                        <div class="row">
                            <div class="col s12">
                                <ul class="tabs">
                                    <li class="tab col s6"><a href="#login-pane">Login</a></li>
                                    <li class="tab col s6"><a href="#signup-pane">Sign Up</a></li>
                                </ul>
                            </div>
                            <div id="login-pane" class="col s12 card-content">
                                <form name="f" th:action="@{/login}" method="post" style="margin-bottom: 0;">
                                    <div th:if="${param.error}" class="alert alert-error">
                                        Invalid username and password.
                                    </div>
                                    <div th:if="${param.logout}" class="alert alert-success">
                                        You have been logged out.
                                    </div>
                                    <div class="input-field">
                                        <input type="text" id="username" name="username"/>
                                        <label for="username">Username</label>
                                    </div>
                                    <div class="input-field">
                                        <input type="password" id="password" name="password"/>
                                        <label for="password">Password</label>
                                    </div>
                                    <div class="form-actions center">
                                        <button type="submit" class="btn waves-effect waves-light">Login</button>
                                    </div>
                                </form>
                            </div>
                            <div id="signup-pane" class="col s12 card-content">
                                <form th:action="@{/signup}" method="post" style="margin-bottom: 0;">
                                    <div class="input-field">
                                        <input type="text" id="first_name" name="first_name"/>
                                         <label for="first_name">First name</label>
                                    </div>
                                    <div class="input-field">
                                        <input type="text" id="last_name" name="last_name"/>
                                        <label for="first_name">Last name</label>
                                    </div>
                                    <div class="input-field">
                                        <input type="text" id="username" name="username"/>
                                        <label for="username">Email</label>
                                    </div>
                                    <div class="input-field">
                                        <input type="password" id="password" name="password"/>
                                        <label for="password">Password</label>
                                    </div>
                                    <div class="form-actions center">
                                        <button type="submit" class="btn waves-effect waves-light">Sign up</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

